.configuration {
  height: calc(100vh - 60px);

  .title {
    font-size: 24px;
    line-height: 24px;
  }

  .title-basic {
    margin: 116px 0 25px;
  }

  .title-payment {
    margin: 6px 0 25px;
  }

  .input-group {
    .invalid-feedback {
      width: 126px;
      height: 16px;
      margin: 0;
      font-size: 10px;
      line-height: 16px;
      color: #E53051;
      position: absolute;
      top: -15px;
    }
  }

  input {
    margin-bottom: 19px;
    width: 391px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #EFF1F3;
    box-sizing: border-box;
    text-indent: 14px;

    &::placeholder {
      color: #727981;
      opacity: 0.5;
      vertical-align: center;
    }
  }

  input.is-invalid {
    border-color: #E53051;
  }

  select {
    width: 391px;
    height: 44px;
    border: 1px solid #EFF1F3;
    border-radius: unset;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: #000000;
    text-indent: 2px;

    padding-right: 4.125rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-opacity='0.5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-position: right 0.75rem center, center right 2.25rem;
    background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }

  select:invalid{
    color: transparentize(#727981, 0.5%);
  }

  .form-select:focus {
    box-shadow: none;
  }

  .form-select.is-invalid:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-opacity='0.5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  }

  .form-select.is-invalid {
    border-color: #E53051;
  }

  .spacer {
    margin-left: 26px;
  }

  .btn {
    margin-top: 25px;
  }

  .spinner-border-md {
    top: 30%;
  }
}